/*
to enable: copy to ~/src/main/webapp/scooter.css
to edit: edit ~/resources/skins/scooter_muppet.css

orange face - 240 143 43 - #F08C2B
red hair - 229 42 29 - #E52A1D
brown glasses - 124 71 38 - #7C4726
green shirt - 167 199 102 - #A7C766
eyes - 19 12 9 - #130C09
*/

body, html{
    /*background:#ddf;*/
    background:#F08C2B;
    padding:0;
    margin:0;
    text-align:center;
    /*overflow:hidden;*/
    height:100%;
}
#mainContainer{
    position:relative;
}
.menu{
    color:#000000;
    width:300px;
    /* margin:10px auto 0 auto; */
    padding:0;
    font:24px sans;
    font-weight: bold;
    position:relative;
    top: 40px;
    left: 320px;
}
.menu div{
    position:absolute;
    width: 150px;
    height:150px;
    background:white;
    border:8px solid #7C4726;
    border-radius: 50%;
    line-height:40px;
    cursor:pointer;
}
#boxText{
    color: #130C09;
    padding-top: 40px;
    display: inline-block;
}
#resetButton{
    position:absolute;
    left: 20px;
    top: 50px;
    background: #E52A1D;
    color: #FFFFFF;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.4em;
    width: 200px;
    text-align: center;
}

#goButton{
    position:absolute;
    left: 20px;
    top: 110px;
    background: #A7C766;
    color: #FFFFFF;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.4em;
    width: 200px;
    text-align: center;
}
