/*
to enable: copy to ~/src/main/webapp/scooter.css
to edit: edit ~/resources/skins/scooter_pei_flag.css

yellow lion - #F7C636;  
green tree  - #24531F;
brown tree  - #4D2F1D;
red         - 
*/

body, html{
    /*background:#ddf;*/
    background:#F7C636;
    padding:0;
    margin:0;
    text-align:center;
    /*overflow:hidden;*/
    height:100%;
}
#mainContainer{
    position:relative;
}
.menu{
    color:#B7271C;
    width:300px;
    /* margin:10px auto 0 auto; */
    padding:0;
    font:24px sans;
    font-weight: bold;
    position:relative;
    top:100px;
    left: 200px;
}
.menu div{
    position:absolute;
    width: 150px;
    height:100px;
    background:white;
    border:4px solid #4D2F1D;
    line-height:40px;
    cursor:pointer;
}

#resetButton{
    position:absolute;
    right: 10px;
    top: 30px;
    background: #24531F;
    color: #FFFFFF;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.4em;
    width: 200px;
    text-align: center;
}

#goButton{
    position:absolute;
    right: 10px;
    top: 80px;
    background: #24531F;
    color: #FFFFFF;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.4em;
    width: 200px;
    text-align: center;
}
